//begin footer
footer.footer
  .container
    //begin footer-menu
    nav.footer-menu
      ul.footer-menu__list
        li.footer-menu__item
          a(href="#datenschutz").footer-menu__link.i1.open Datenschutz
        li.footer-menu__item
          a(href="#haftungsausschluss").footer-menu__link.i2.open Haftungsausschluss
        li.footer-menu__item
          a(href="#impressum").footer-menu__link.i3.open Impressum
        li.footer-menu__item
          a(href="#agb").footer-menu__link.i4.open AGB
    //end footer-menu

    include ../elements/phone-block
//end footer