//begin footer-tabs
.footer-tabs
  .container
    include ../elements/footer-tab--datenschutz
    include ../elements/footer-tab--haftungsausschluss
    include ../elements/footer-tab--impressum
    include ../elements/footer-tab--agb
//end footer-tabs