//begin map-section
.map-section
  .container
    //begin map-section__item
    .map-section__item
      h2.map-section__title Unsere Fachgeschäfte
      span.map-section__list-title Besuchen Sie unser Fachgeschäft in Ihrer Nähe
      ul.map-section__list
        li.map-section__list-item Erleben Sie unsere Produkte live mit vielen Ausstellungs-Whirlpools
        li.map-section__list-item an 6 Tagen pro Woche ohne Voranmeldung zu festen Öffnungszeiten
        li.map-section__list-item Jederzeit kompetente Fachberatung vor Ort, auch ohne Voranmeldung
        li.map-section__list-item Laufende Sonderaktionen und Rabattaktionen
    //end map-section__item

    //begin map-section__item
    .map-section__item.map-section__item--map
      img(src="assets/img/map.jpg" alt="map")
    //end map-section__item
//end map-section