//begin second-section
.second-section
  .container
    h2.second-section__title Outdoor Whirlpools für das Zuhause
    .second-section__description
      p Wir sind Ihr Experte rund um das Thema Whirlpool – bei uns finden Sie genau das Modell, das zu Ihnen passt. Ihre Wünsche stehen im Mittelpunkt unserer kompetenten Beratung und langjährigen Erfahrung. Besuchen Sie unsere große Ausstellung in Ihrer Nähe mit einer Vielzahl an Ausstellungsstücken. Über 5 zufriedene Kunden vertrauen auf unsere Kompetenz und unseren hohen Qualitätsanspruch.
//end second-section