//begin top
.top
  //begin top-section
  .top-section.top-section--left
    //begin top-section__header
    .top-section__header
      a(href="#").top-section__logo
        img(src="assets/img/logo-master.svg" alt="logo")
      span.top-section__header-text
        |Weltmarktführer
        br
        |aus den USA
    //end top-section__header
    .top-section__subtitle Schon lange ist Master Spas&#174; aus den USA einer der weltweit Größten und Erfolgreichsten

    //begin top-section__description
    .top-section__description
      .top-section__description-btn
        .top-section__description-btn-circle
          +svg('plus')
        span Mehr Info
      .top-section__description-text
        p Innovativer Hersteller von Whirlpools und Swim Spas. Durch innovative Ideen und erstklassigem Design setzt Master Spas&#174; aktuell Maßstäbe in Qualität, Technik und Design. Das Management-Team kann auf über 100 Jahre Erfahrung in der Whirlpool-Herstellung zurückblicken. Master Spas® zählt zu den erfolgreichsten der Branche. Entdecken Sie die exklusive Welt von Master Spas® und erleben Sie die Whirlpools hautnah! Bringen Sie mehr Entspannung in Ihre Alltag!
    //end top-section__description

    a(href="#").top-section__btn
      span Mehr über Master Spas&#174; erfahren
  //end top-section

  //begin top-section
  .top-section.top-section--right
    //begin top-section__header
    .top-section__header
      a(href="#").top-section__logo
        img(src="assets/img/logo-delfy.svg" alt="logo")
      span.top-section__header-text
        |Für Garten
        br
        |und Terrasse
    //end top-section__header
    .top-section__subtitle Ausgefeilte Technik und optimale Ausstattung zum attraktiven Preis.

    //begin top-section__description
    .top-section__description
      .top-section__description-btn
        .top-section__description-btn-circle
          +svg('plus')
        span Mehr Info
      .top-section__description-text
        p Innovativer Hersteller von Whirlpools und Swim Spas. Durch innovative Ideen und erstklassigem Design setzt Master Spas&#174; aktuell Maßstäbe in Qualität, Technik und Design. Das Management-Team kann auf über 100 Jahre Erfahrung in der Whirlpool-Herstellung zurückblicken. Master Spas® zählt zu den erfolgreichsten der Branche. Entdecken Sie die exklusive Welt von Master Spas® und erleben Sie die Whirlpools hautnah! Bringen Sie mehr Entspannung in Ihre Alltag!
    //end top-section__description

    a(href="#").top-section__btn
      span Mehr über Master Spas&#174; erfahren
  //end top-section
//end top