//begin top
.top
  //begin top-section
  .top-section.top-section--left
    //begin top-section__header
    .top-section__header
      a(href="https://master-spa.de/" target="_blank" rel="nofollow noopener noreferrer").top-section__logo
        img(src="assets/img/logo-master.svg" alt="logo")
      span.top-section__header-text
        |Weltmarktführer
        br
        |aus den USA
    //end top-section__header
    .top-section__subtitle Schon lange ist Master Spas&#174; aus den USA weltweit einer der erfolgreichsten Hersteller

    //begin top-section__description
    .top-section__description
      .top-section__description-btn
        .top-section__description-btn-circle
          +svg('plus')
        span Mehr Info
      .top-section__description-text
        p - Durch innovative Ideen und erstklassiges Design setzt Master Spas&#174; Maßstäbe in Qualität, Technik und Design
        p - Umfangreiche Modellpalette mit unzähligen Möglichkeiten für die perfekte Symbiose aus Wellness und Massage
        p - Glasklares Wasser, erstklassige Hydrotherapie und moderner Luxus für mehr Wohlbefinden
        p - Entdecken Sie die exklusive Welt von Master Spas&#174; und erleben Sie die Whirlpools hautnah!
        p - Das Management-Team blickt auf über 100 Jahre Erfahrung in der Whirlpool-Herstellung zurück
        p - Bringen Sie mehr Entspannung in Ihren Alltag – gebaut für die Ewigkeit!
    //end top-section__description

    a(href="https://master-spa.de/" target="_blank" rel="nofollow noopener noreferrer").top-section__btn
      span Mehr über Master Spas&#174; erfahren
  //end top-section

  //begin top-section
  .top-section.top-section--right
    //begin top-section__header
    .top-section__header
      a(href="https://4deluxe-whirlpool.de/" target="_blank" rel="nofollow noopener noreferrer").top-section__logo
        img(src="assets/img/logo-delfy.svg" alt="logo")
      span.top-section__header-text
        |Für Garten
        br
        |und Terrasse
    //end top-section__header
    .top-section__subtitle Ausgefeilte Technik und optimale Ausstattung zum attraktiven Preis

    //begin top-section__description
    .top-section__description
      .top-section__description-btn
        .top-section__description-btn-circle
          +svg('plus')
        span Mehr Info
      .top-section__description-text
        p - Die Delfi Spa&#174; Whirlpools bieten bereits Standards und Extras, die sonst nur die "Top-of-the-Line" zu bieten hat
        p - Langbewährte und aufeinander abgestimmte Markenkomponenten
        p - Einfache Bedienung und effektive Wasserreinigung für zeitsparende Pflege
        p - Aufwendige Isolierung für geringere Betriebskosten
        p - Gönnen Sie sich Gesundheit und Wohlbefinden und mehr Freizeitvergnügen für die ganze Familie
        p - Genießen Sie entspannte Unterhaltung mit Freunden!

    //end top-section__description

    a(href="https://4deluxe-whirlpool.de/" target="_blank" rel="nofollow noopener noreferrer").top-section__btn
      span Mehr über Delfi Spa&#174; erfahren
  //end top-section
//end top
