.footer-tab.footer-tab--impressum#impressum
  h5 Verantwortlicher Herausgeber
  h5 4Deluxe GmbH, Marketingabteilung
  .footer-tab__table
    .footer-tab__row
      .footer-tab__item.footer-tab__item--left Geschäftsführer
      .footer-tab__item.footer-tab__item--right Julia Hoffmann
    .footer-tab__row
      .footer-tab__item.footer-tab__item--left Firma
      .footer-tab__item.footer-tab__item--right 4Deluxe GmbH
    .footer-tab__row
      .footer-tab__item.footer-tab__item--left Anschrift
      .footer-tab__item.footer-tab__item--right
        | Erlenstraße 1
        br
        | 12167 Berlin
    .footer-tab__row
      .footer-tab__item.footer-tab__item--left Handelsregister
      .footer-tab__item.footer-tab__item--right
        | Amtsgericht Charlottenburg HRB 130402
        br
        | USt-ID: DE275104185
    .footer-tab__row
      .footer-tab__item.footer-tab__item--left Kontakt
      .footer-tab__item.footer-tab__item--right
        | Telefon +49-30-61674114
        br
        | Telefax +49-30-61674116
        br
        a(href='mailto:info@4-deluxe.de') info@4-deluxe.de

  a(href="#").tab-close Text ausblenden
