// ***** main colors *******
$brand: #00407a;
$dark: #181a19;
$light: #f5f5f5;

$highlight: #00a9d3;
$highlight-hov: #00a9d3;

// ***** text colors *******
$text: #646464;
$title: #141414;

// ===== fonts =====
$font:            'Lato', sans-serif;
$font-bold:       'Lato-Bold', sans-serif;
$font-semibold:   'Lato-Semibold', sans-serif;
$font-heavy:      'Lato-Heavy', sans-serif;