extends ../_template

block variables
  - var title       = '4Deluxe'
  - var description = '4Deluxe'
  - var ogtitle     = '4Deluxe'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap
    //begin content
    section.main
      include ../sections/header
      include ../sections/top-section
      include ../sections/second-section
      include ../sections/map-section
      include ../sections/contacts-section
    //end content

    include ../sections/footer
